/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f302r8 board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

#include <zephyr/dt-bindings/display/panel.h>

/ {
	chosen {
		zephyr,display = &display;
	};

	example_sensor: example-sensor {
		compatible = "zephyr,example-sensor";
		input-gpios = <&gpioc 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};

	blink_led: blink-led {
		compatible = "blink-gpio-led";
		led-gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
		blink-period-ms = <1000>;
	};
};

&gpioc {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&spi1 {
	status = "okay";

	display: display@1 {
		compatible = "ilitek,ili9341";
		/* w25q16cv@0 uses CS pin 0 */
		reg = <1>;  /* CS pin 1 */

		spi-max-frequency = <8000000>;

		label = "DISPLAY";

		/* Control pins */
		dc-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;

		width = <240>;
		height = <240>;

		/* REQUIRED INIT SEQUENCE (from YAML defaults) */
		/* zephyrproject/zephyr/dts/bindings/display/ilitek,ili9341.yaml */

        ifmode = <0x40>;

        /* ifctl = <0x01 0x00 0x00>; */
        ifctl = <0x01>;

        pwctrla = <0x39 0x2c 0x00 0x34 0x02>;
        pwctrlb = <0x00 0x8b 0x30>;
        pwseqctrl = <0x55 0x01 0x23 0x01>;

        timctrla = <0x84 0x11 0x7a>;
        timctrlb = <0x00 0x00>;

        pumpratioctrl = <0x10>;
        enable3g = <0x02>;

        etmod = <0x06>;

        gamset = <0x01>;
        frmctr1 = <0x00 0x1b>;

        disctrl = <0x0a 0x82 0x27 0x04>;

        pwctrl1 = <0x21>;
        pwctrl2 = <0x10>;

        vmctrl1 = <0x31 0x3c>;
        vmctrl2 = <0xc0>;

        pgamctrl = <
            0x0f 0x22 0x1f 0x0a 0x0e
            0x06 0x4d 0x76 0x3b 0x03
            0x0e 0x04 0x13 0x0e 0x0c
        >;

        ngamctrl = <
            0x0c 0x23 0x26 0x04 0x10
            0x04 0x39 0x24 0x4b 0x03
            0x0b 0x0b 0x33 0x37 0x0f
        >;
	};
};


