/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the black_f407ve board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

#include <zephyr/dt-bindings/display/panel.h>

/**
 * TFT LCD Display SPI pins: SPI2
 * 
 * SDI: (Data In)		PB15/MOSI = U2.54 = SPI2_MOSI/TIM1_CH3N/PB15 
 * SCL: (Clock) 		PB13/SCK = U2.52 = SPI2_SCK/I2S2_CK/TIM1_CH1N/USART3_CTS/PB13
 * CS: 	(Chip Select)	PB12/CS = U2.51 = SPI2_NSS/I2S2_WS/I2S2_SMBA1/TIM1_BKIN/USART3_CK/PB12 (CS0)
 * SDO: (Data Out)		PB14/MISO = U2.53 = SPI2_MISO/TIM1_CH2N/USART3_RTS/PB14
 * RS: 	(RS/DC/A0)		PC5/RS = U2.34 = PC5/ADC12_IN15
 * BLK: (Backlight)		PB1/BLK = U2.36 = (TIM1_CH3N)/TIM8_CH3/TIM3_CH4/ADC12_IN9/PB1
 */

/ {
	chosen {
		zephyr,display = &ili9341;
	};

	example_sensor: example-sensor {
		compatible = "zephyr,example-sensor";
		input-gpios = <&gpioc 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};

	blink_led: blink-led {
		compatible = "blink-gpio-led";
		led-gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
		blink-period-ms = <1000>;
	};

	/*
	* LCD driver controller: ILI9341
	* LCD resolution: 240*320
	* 3.2 inch display version
	* SPI2
	*/

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi2>;
		/* TBC */
		/* reset-gpios = <&gpiob 4 GPIO_ACTIVE_LOW>; */
		/* TBC */
		dc-gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		ili9341: ili9341@0 {
			compatible = "ilitek,ili9341";
			reg = <0>;
			label = "DISPLAY";

			/* 10 MHz */
			mipi-max-frequency = <1000000>;

			width = <240>;
			height = <320>;
			rotation = <90>;
			pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;

			/* TBC: is this needed? */
			/* mipi-hold-cs; */
			/* mipi-cpol; */
  			/* mipi-cpha; */
		};
	};
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&spi2 {
	status = "okay";
	/* cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>; */
	/* cs-gpios = <&gpiob 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; */
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;

	/*
	* SCLK: PB13
	* MISO: PB14
	* MOSI: PB15
	*/
	pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pb14 &spi2_mosi_pb15>;
	pinctrl-names = "default";
};